/** transitions **/
@keyframes slideInFromTop {
  0% {
    transform: translateY(-75%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scaleChange {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);

  }
}
@keyframes translateText {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.bar {
	height:22px;
	color:#f4f4f4;
	text-align:center;
	width: 250px;
  margin-left: 25px;
  margin-right: 25px;
}

.level-thirty {
	height:20px;
	background:#aae0aa;
  width:30%;
}
.level-sixty {
	height:20px;
	background:#aae0aa;
  width:60%;
}
.level-eighty {
	height:20px;
	background:#aae0aa;
  width:80%;
}

.thirty.start {
	width: 0px;
	background: #aae0aa;
	-webkit-animation: thirty 0.5s ease-out forwards;
	   -moz-animation: thirty 0.5s ease-out forwards;
	    -ms-animation: thirty 0.5s ease-out forwards;
	     -o-animation: thirty 0.5s ease-out forwards;
	        animation: thirty 0.5s ease-out forwards;
}
.sixty.start {
	width: 0px;
	background: #aae0aa;
	-webkit-animation: sixty 0.5s ease-out forwards;
	   -moz-animation: sixty 0.5s ease-out forwards;
	    -ms-animation: sixty 0.5s ease-out forwards;
	     -o-animation: sixty 0.5s ease-out forwards;
	        animation: sixty 0.5s ease-out forwards;
}
.eighty.start {
	width: 0px;
	background: #aae0aa;
	-webkit-animation: eighty 0.5s ease-in forwards;
	   -moz-animation: eighty 0.5s ease-out forwards;
	    -ms-animation: eighty 0.5s ease-out forwards;
	     -o-animation: eighty 0.5s ease-out forwards;
	        animation: eighty 0.5s ease-out forwards;
}

@-moz-keyframes thirty {
    0% {
        width: 0px;
    }

    100% {
        width: 30%;
    }
}
@-webkit-keyframes thirty {
	0% {
	    width: 0px;
	}

	100% {
	    width: 30%;
	}
}

@-moz-keyframes sixty {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}
@-webkit-keyframes sixty {
	0% {
	    width: 0px;
	}

	100% {
	    width: 60%;
	}
}

@-moz-keyframes eighty {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}
@-webkit-keyframes eighty {
	0% {
	    width: 0px;
	}

	100% {
	    width: 80%;
	}
}