/** transitions **/
@keyframes slideInFromTop {
  0% {
    transform: translateY(-75%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scaleChange {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);

  }
}
@keyframes translateText {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.bar {
	height:22px;
	color:#f4f4f4;
	text-align:center;
	width: 250px;
  margin-left: 25px;
  margin-right: 25px;
}

.level-thirty {
	height:20px;
	background:#aae0aa;
  width:30%;
}
.level-sixty {
	height:20px;
	background:#aae0aa;
  width:60%;
}


.thirty.start {
	width: 0px;
	background: #aae0aa;
	-webkit-animation: thirty 1.5s ease-out forwards;
	   -moz-animation: thirty 1.5s ease-out forwards;
	    -ms-animation: thirty 1.5s ease-out forwards;
	     -o-animation: thirty 1.5s ease-out forwards;
	        animation: thirty 1.5s ease-out forwards;
}
.fifty.start {
  width: 0px;
  background: #aae0aa;
  -webkit-animation: fifty 1.5s ease-out forwards;
     -moz-animation: fifty 1.5s ease-out forwards;
      -ms-animation: fifty 1.5s ease-out forwards;
       -o-animation: fifty 1.5s ease-out forwards;
          animation: fifty 1.5s ease-out forwards;
}
.sixty.start {
	width: 0px;
	background: #aae0aa;
	-webkit-animation: sixty 1.5s ease-out forwards;
	   -moz-animation: sixty 1.5s ease-out forwards;
	    -ms-animation: sixty 1.5s ease-out forwards;
	     -o-animation: sixty 1.5s ease-out forwards;
	        animation: sixty 1.5s ease-out forwards;
}
.seventy.start {
  width: 0px;
  background: #aae0aa;
  -webkit-animation: seventy 1.5s ease-in forwards;
     -moz-animation: seventy 1.5s ease-out forwards;
      -ms-animation: seventy 1.5s ease-out forwards;
       -o-animation: seventy 1.5s ease-out forwards;
          animation: seventy 1.5s ease-out forwards;
}
.eighty.start {
	width: 0px;
	background: #aae0aa;
	-webkit-animation: eighty 1.5s ease-out forwards;
	   -moz-animation: eighty 1.5s ease-out forwards;
	    -ms-animation: eighty 1.5s ease-out forwards;
	     -o-animation: eighty 1.5s ease-out forwards;
	        animation: eighty 1.5s ease-out forwards;
        /* Enable hardware acceleration to fix laggy transitions */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
}
.ninety.start {
  width: 0px;
  background: #aae0aa;
  -webkit-animation: ninety 1.5s ease-out forwards;
     -moz-animation: ninety 1.5s ease-out forwards;
      -ms-animation: ninety 1.5s ease-out forwards;
       -o-animation: ninety 1.5s ease-out forwards;
          animation: ninety 1.5s ease-out forwards;
}

@-moz-keyframes thirty {
    0% {
        width: 0px;
    }

    100% {
        width: 30%;
    }
}
@-webkit-keyframes thirty {
	0% {
	    width: 0px;
	}

	100% {
	    width: 30%;
	}
}
@-moz-keyframes fifty {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    }
}
@-webkit-keyframes fifty {
	0% {
	    width: 0px;
	}

	100% {
	    width: 50%;
	}
}
@-moz-keyframes sixty {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}
@-webkit-keyframes sixty {
	0% {
	    width: 0px;
	}

	100% {
	    width: 60%;
	}
}

@-moz-keyframes eighty {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}
@-webkit-keyframes eighty {
	0% {
	    width: 0px;
	}

	100% {
	    width: 80%;
	}
}


.arrow-bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 1.6s infinite linear;
    -o-animation: bounce 1.6s infinite linear;
    -webkit-animation: bounce 1.6s infinite linear;
    animation: bounce 1.6s infinite linear;
}

.fa-bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 1s infinite linear;
    -o-animation: bounce 1s infinite linear;
    -webkit-animation: bounce 1s infinite linear;
    animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.6em; }
    70% { top: -0.8em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.6em; }
    70% { top: -0.8em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.6em; }
    70% { top: -0.8em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.6em; }
    70% { top: -0.8em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.6em; }
    70% { top: -0.8em; }
    100% { top: 0; }
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.btn-social:hover {
  transform: scale(1.2);
}

@keyframes changeSize {
	0% {
	    transform: scale(1);
	}
  
    25% {
	    transform: scale(1.02);
    }

    50% {
	    transform: scale(1.04);
    }

    75% {
	    transform: scale(1.02);
    }

	100% {
	    transform: scale(1);
	}
}

.portfolio-item.start {
   -webkit-animation: changeSize 0.85s infinite linear;
      -moz-animation: changeSize 0.85s infinite linear;
       -ms-animation: changeSize 0.85s infinite linear;
        -o-animation: changeSize 0.85s infinite linear;
           animation: changeSize 0.85s infinite linear;
 }

.developer-pic.start {
   -webkit-animation: changeSize 0.85s infinite linear;
      -moz-animation: changeSize 0.85s infinite linear;
       -ms-animation: changeSize 0.85s infinite linear;
        -o-animation: changeSize 0.85s infinite linear;
           animation: changeSize 0.85s infinite linear;
}

.cog {
    font-size: 80pt;
    margin: 0 auto;
    margin-bottom: 40px;
    -webkit-animation: spin 3000ms infinite linear;
       -moz-animation: spin 3000ms infinite linear;
        -ms-animation: spin 3000ms infinite linear;
         -o-animation: spin 3000ms infinite linear;
            animation: spin 3000ms infinite linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}